<h3 class="ui header">{{t "forms.i-i-s-test-ном-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.нома
      class=(if (v-get validationModel "нома" "isInvalid") "error")
      label=(t "forms.i-i-s-test-ном-e.нома-caption")
      data-test-i-i-s-test-ном-e-нома=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "нома" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test-ном-e.контр-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.контр
      displayAttributeName="когнтра"
      autocomplete=true
      relationName="контр"
      projection="контрL"
      title=(t "forms.i-i-s-test-ном-e.контр-caption")
      readonly=readonly
      componentName="контрLookup"
      class=(if (v-get validationModel "контр" "isInvalid") "error")
      data-test-i-i-s-test-ном-e-контр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "контр" "message")}}
  </div>
</form>
